<%= form_for(@survey, url: home_index_path) do |f|%>
  <div>
    Name: <%= f.text_field :name %>
  </div>
  <div id="hide_this_stuff" class="hidden">
    Favorites:<br>
    <%= f.check_box :chocolate %> Chocolate<br>
    <%= f.check_box :rainbow %> Rainbows<br>
    <%= f.check_box :puppies %> Puppies<br>
    <%= f.check_box :cash %> Cold Hard Cash<br>
  </div>
    <%= f.submit id:"submit;", onclick: "oneClick();" %>
<% end %>
